nav{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    align-items: center;
}
nav ul>li{
    background-color: #85b4579c;
    padding: 5px 10px;
    border-radius: 8px;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

nav li:hover {
    background-color: #050705;
    color: #ffffff;
  }


  button:hover {
    background: #050705;
  }


@media screen and (max-width: 576px) {
    nav {
      flex-direction: column;
      padding-bottom: 20px;
    }
    nav ul>li{
        padding: 3px 3px;
        gap: 2px;
        text-transform: capitalize;
    }
}

@media screen and (max-width: 400px){
    nav ul>li{
        display: none;
    }
}